

.tblHeader tr td {
	background-color: white;
	color: #000066;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	font-size:15px;
	/*-webkit-print-color-adjust:exact;*/
}

.rataKanan td {
	
	font-size:15px;
	text-align: right;
}

.lbl {
	font-weight: bold;
}

.lblTop {
	font-weight: bold;
	text-align: center;
	border: 1px solid #dddddd;
}

.bordered {
border:1px solid transparent;
}

.borderedright {
border-right:1px solid #000000;
}

.borderedtop {
border-top:1px solid #000000;
}

.defult {
border:1px solid transparent;
background-color: #D3D3D3;
}




table{
	width: 920px;
}

table tr td{
	border: 1px none  #dddddd;
	font-size:12px;
}
table
{
border-collapse:collapse;
}
td
{
padding:2px;
}

input{
	border: 1px solid grey;
}





  

 