.ttd {
	font-weight: bold;
	text-align: center;
}

.ttdPW td{
	font-weight: bold;
	text-align: center;
	border:1px solid #000000;
}

.tblHeader td {
	background-color: white;
	color: #000066;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	/*-webkit-print-color-adjust:exact;*/
}

.lbl {
	font-weight: bold;
}

.lblTop {
	font-weight: bold;
	text-align: center;
	border: 1px solid #dddddd;
}

.bordered {
border:1px solid transparent;
}

.borderedright {
border-right:1px solid #000000;
}

.borderedtop {
border-top:1px solid #000000;
}

.defult {
border:1px solid transparent;
background-color: #D3D3D3;
}




table{
	width: 920px;
}

table tr td{
	border: 1px none  #dddddd;
}
table
{
border-collapse:collapse;
}
td
{
padding:2px;
}

input{
	border: 1px solid grey;
}





div.perihal {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center ;
  }
div.perihal p {
  margin: 0 ;
  font-size:20px;
  }
  
  .aTable {
    width: 500px; 
	margin: 5px 0px 5px 0px;
  }
  
  #tblTandaTangan td{
	width: 33%;
}

.ttd {
	font-weight: bold;
	text-align: center;
	
}

  

 