.ttd {
	font-weight: bold;
	text-align: center;
	
}

.tblHeader td {
	background-color: lightblue;
	color: #000066;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	/*-webkit-print-color-adjust:exact;*/
}

.lbl {
	font-weight: bold;
}

.lblTop {
	font-weight: bold;
	text-align: center;
}

.bordered {
border:1px solid transparent;
}

.default {
border:1px solid transparent;
background-color: #D3D3D3;
}


.clsUang, .clsUang input{
	text-align: right;
}

.clsUang:before {
	content: 'Rp.\0000a0';
	float: left;
}

.clsTerbilang:after {
	content: '\0000a0 Rupiah';
}

.clsHari, .clsHari input {
	text-align: center;
}

table{
	width: 920px;
}

table tr td{
	border: 1px solid #dddddd;
}
table
{
border-collapse:collapse;
}
td
{
padding:2px;
}

input{
	border: 1px solid grey;
}

td#keterangan {
	width:300px;
}

#catatan {
	width: 400px;
	/*height:160px;*/
	/*border: 3px double #dddddd;*/
	
}

#txtCatatan {
	font-size:15px;
	text-align:justify;
	padding: 0px 10px 2px 10px;
}

#tblUangMuka .lbl {
	text-align: left;
	padding-right:10px;
}

#logoDPA {
	float:right;
}

#tblTandaTangan td{
	width: 33%;
}

#tblTandaTanganDIC td{
	width: 25%;
}



#note {
	padding-top:10px;
	font-size: 12px;
	font-style: italic;
}

.lblWidth {
	width:170px;
	font-weight: bold;
}

.ttdPW td{
	font-weight: bold;
	text-align: center;
	border: 1px solid #dddddd;
}

.tblHeaderPW td {
	background-color: white;
	color: #000066;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	/*-webkit-print-color-adjust:exact;*/
}

div.perihal {
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center ;
	}
  div.perihal p {
	margin: 0 ;
	font-size:14px;
	}


	.nonbordered tr td{
		border:0px none ;
		}

