body {
  font-family: Segoe UI, Helvetica, Arial, Sans-Serif;
  font-weight: lighter;
  letter-spacing: 1.2px;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  /* background-image:url('/assets/images/traveloka_main_bg_l-@{image-version}.png'); */

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  cursor: default;
}
li {
  list-style: none;
  zoom: 1;
  *display: inline;
}
/* ~~ Element/tag selectors ~~ */
ul,
ol,
dl {
  /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */

  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */

  padding-right: 15px;
  padding-left: 15px;
  /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */

  color: #777777;
  margin-bottom: 0;
}
p {
  margin-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */

  color: #777777;
}
a img {
  /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */

  border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
  color: #999999;
  text-decoration: underline;
  /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */

}
a:visited {
  color: #6E6C64;
  text-decoration: underline;
}
a:hover,
a:focus {
  /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */

  color: #FF6900;
  text-decoration: none;
}
a:active {
  color: #FFB37F;
  text-decoration: none;
}
table th {
  font-size: 1.2em;
  font-weight: normal;
}

input#textbox{
	width: 201px;
	height: 24px;
	color: #333;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid gray;
	padding: 5px 6px 5px 9px;
	vertical-align: middle;
}

input,
textarea {
  /* prevents safari mobile from showing rounded corner */

  -webkit-border-radius: 0;
}
input[type='checkbox'] {
  background-color: #FFFFFF;
  opacity: 0;
  /*   use opacity so that on IE8, 7 it will fall back to checkbox */

  position: absolute;
  padding: 4px;
  /* match the size of checkbox with the Image to cover it in IE8,7 */

  margin: 4px 0 0 4px;
}
input[type=checkbox] + label {
  background: url("/assets/images/traveloka_main-20027.png") -313px -170px no-repeat;
  height: 25px;
  line-height: 25px;
  width: auto;
  margin: 0 0 0 5px;
  clear: none;
  padding-left: 24px;
  cursor: pointer;
  font-size: 18px;
  font-weight: lighter;
  color: #666666;
  display: block;
}
input[type=checkbox]:checked + label {
  background: url("/assets/images/traveloka_main-20027.png") -313px -145px no-repeat;
}
input[type=checkbox] + label:hover {
  background: url("/assets/images/traveloka_main-20027.png") -313px -220px no-repeat;
  color: #000000;
}
input[type=checkbox]:checked + label:hover {
  background: url("/assets/images/traveloka_main-20027.png") -313px -195px no-repeat;
  color: #000000;
}
input[type=checkbox][disabled] + label {
  background: url("/assets/images/traveloka_main-20027.png") -313px -245px no-repeat;
  color: #999999;
}
span.italic {
  font-style: italic;
  font-size: 1em;
}
span.tvBold {
  font-weight: 700;
  font-size: 1em;
}
/* ~~these are the fields and forms~~ */
.tv-btn {
  cursor: pointer;
  display: block;
  outline: 0 none;
  text-decoration: none;
}
.tv-btn:hover {
  -moz-box-shadow: 1px 1px 3px 0 #000000;
  -webkit-box-shadow: 1px 1px 3px 0 #000000;
  box-shadow: 1px 1px 3px 0 #000000;
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.shadow(Strength=4, Direction=135, Color=#000000);
}
.tv-btn:active {
  -moz-box-shadow: 0px 0px 1px 1px #666666;
  -webkit-box-shadow: 0px 0px 1px 1px #666666;
  box-shadow: 0px 0px 1px 1px #666666;
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.shadow(Strength=4, Direction=135, Color=#000000);
}
.tvCheckBox label {
  cursor: pointer;
}
.tvCheckBox label:hover {
  font-weight: 550;
}
/* ~~this contains elements that displays global error message ~~ */
#generalError {
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  /* make sure that its always on top */

  display: none;
  background-color: #F8E500;
  /* default is yellow */

  -moz-box-shadow: 0 0 5px 0px #a1ccf6;
  -webkit-box-shadow: 0 0 5px 0px #a1ccf6;
  box-shadow: 0 0 5px 0px #a1ccf6;
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.shadow(Strength=4, Direction=135, Color=#000000);
}
#generalErrorCntr {
  width: 960px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
#generalErrorFrame {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: table;
}
#generalErrorIcon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 15px;
}
#generalError.float {
  position: fixed;
}
#generalError #generalErrorIcon {
  /* default icon is the warning sign */

  background: url("/assets/images/common-20027.png") 0px 0px no-repeat;
}
#generalError.tvInfo {
  background-color: #B0E3F4;
}
#generalError.tvSuccess {
  background-color: #42E552;
}
#generalError.tvWarning {
  background-color: #F8E500;
}
#generalError.tvWarning #generalErrorIcon {
  background: url("/assets/images/common-20027.png") 0px 0px no-repeat;
}
#generalError.tvError {
  background-color: #F91616;
}
#generalErrorMsg {
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
  *display: inline;
  /* HACK for IE7 ONLY */

  zoom: 1;
  /* HACK for IE7 ONLY */

}
/* ~~this contains elements that will hold the main bg image ~~ */
#tv-bg-frame {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: -10;
}
#tv-bg {
  width: 1440px;
  height: 376px;
  margin: 0 auto;
  /* the auto value on the sides, coupled with the width, centers the layout.  */

  background: url('/assets/images/traveloka_main_bg-20027.png') 0px -8px no-repeat;
}
/* ~~this fixed width container surrounds the other divs~~ */
#container {
  min-height: 388px;
  height: 100%;
  width: 960px;
  margin: 0 auto;
  /* the auto value on the sides, coupled with the width, centers the layout.  */

  height: auto !important;
  background: #ffffff;
  /* Fall-back for browsers that don't support rgba */

  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
  /* background-color: #FFFFFF; */

}
/* ~~this is the topbar~~ */
#tv-topbar {
  left: 0;
  top: 0;
  width: 100%;
  color: #555555;
  height: 70px;
  line-height: 65px;
  background-color: #FFFFFF;
  border-bottom: 3px solid #73B2F2;
}
#tv-topbar-decor {
  bottom: 0;
  background: url('/assets/images/traveloka_main-20027.png') 0px -1px repeat-x;
  width: 100%;
  height: 3px;
  font-size: 2px;
  /* IE issue */

  line-height: 2px;
  /* IE issue */

}
.tv-topbar-container {
  font-size: 12px;
  line-height: 20px;
  margin: auto;
  position: relative;
  width: 960px;
  height: 70px;
  /* .tv-background-rgba(255, 255, 255, .9); */

}
#tv-top-logo {
  margin-top: 5px;
  float: left;
  height: 63px;
  width: 286px;
  background: url('/assets/images/traveloka_main-20027.png') 0px -7px no-repeat scroll transparent;
}
#tv-slim-logo {
  background-color: #FFFFFF;
  background: url('/assets/images/traveloka_main-20027.png') 0px -7px no-repeat scroll transparent;
  height: 63px;
  margin: 10px auto;
  /* margin-left: 314px; */

  width: 286px;
  position: relative;
}
#tv-userInfo-content {
  display: block;
  right: 0;
  position: absolute;
  padding-top: 6px;
  z-index: 1000;
}
ul#tv-userInfo-links {
  display: block;
  float: right;
  width: auto;
  font-size: 1.1em;
  text-decoration: none;
}
ul#tv-userInfo-links li {
  display: block;
  float: right;
  margin: 0 4px 0 0;
}
ul#tv-userInfo-links li a {
  border: 1px solid #FFFFFF;
  color: #006FA1;
  cursor: pointer;
  float: left;
  padding: 5px 6px;
  text-decoration: none;
}
/*
ul#tv-userInfo-links li a:hover{
  color: #006FA1;
  border: 1px solid #006FA1;
}
*/
ul#tv-userInfo-links li span {
  float: left;
  font-size: 16px;
}
#tv-topbar-content {
  bottom: -3px;
  display: block;
  padding: 0;
  position: absolute;
  right: 0;
  width: 620px;
}
ul#tv-topbar-links {
  display: block;
  float: left;
  width: auto;
  font-size: 20px;
  text-decoration: none;
  line-height: 40px;
  overflow: hidden;
}
ul#tv-topbar-links li {
  display: block;
  float: left;
  margin: 0;
  height: 100%;
  padding-bottom: 3px;
}
ul#tv-topbar-links li:hover,
ul#tv-topbar-links li.active {
  border-bottom: 3px solid #FF6900;
  padding-bottom: 0;
}
ul#tv-topbar-links li a {
  padding: 16px 18px;
  color: #619FDB;
  cursor: pointer;
  text-decoration: none;
  font-weight: 100;
}
ul#tv-topbar-links li a:hover,
ul#tv-topbar-links li a.active {
  color: #FF6900;
}
ul#tv-topbar-links li.topbar-vbar {
  border-left: 1px solid #619FDB;
  height: 22px;
  margin-top: 20px;
  font-size: 2px;
  /* IE issue */

  line-height: 2px;
  /* IE issue */

  padding: 0;
}
ul#tv-topbar-links li.topbar-vbar:hover {
  border-bottom: none;
  /* padding-bottom: 3px; */

}
#UserAction {
  display: none;
}
#UserActionIcon {
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 3px;
}
#UserActionIcon {
  background: url("/assets/images/common-20027.png") -118px 0px no-repeat scroll transparent;
}
#UserActionIcon[stat="down"] {
  background: url("/assets/images/common-20027.png") -138px 0px no-repeat scroll transparent;
}
#IndonesiaTravel {
  display: table;
}
#IndonesiaTravelLogo {
  width: 160px;
  height: 50px;
  border: 1px solid #0086B5;
  background: url("/assets/images/common-20027.png") 0px -40px no-repeat scroll transparent;
}
#userOptions li {
  width: 70px;
  height: 21px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: right;
  padding: 5px;
  list-style: none;
  border: 1px solid #006FA1;
}
#userOptions li a:link,
#userOptions li a:visited {
  width: 70px;
  height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
#userOptions li:hover,
#userOptions li:active,
#userOptions li:focus,
#userOptions li:hover a,
#userOptions li:active a,
#userOptions li:focus a {
  background-color: #FFFFFF;
  color: #006FA1;
}
#userOptions li:hover,
#userOptions li:active,
#userOptions li:focus {
  border: 1px solid #006FA1;
}
/* ~~ These are the columns for the layout. NOT IN USE CURRENTLY! ~~ */
.tv-sidebar-container {
  float: right;
  width: 210px;
  background: #EADCAE;
  margin-bottom: 10px;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.tv-flight-content ul,
.tv-flight-content ol {
  padding: 0 15px 15px 40px;
  /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */

}
/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
  list-style: none;
  /* this removes the list marker */

  border-top: 1px solid #666;
  /* this creates the top border for the links - all others are placed using a bottom border on the LI */

  margin-bottom: 15px;
  /* this creates the space between the navigation on the content below */

}
ul.nav li {
  border-bottom: 1px solid #666;
}
ul.nav a,
ul.nav a:visited {
  /* grouping these selectors makes sure that your links retain their button look even after being visited */

  padding: 5px 5px 5px 15px;
  display: block;
  /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */

  width: 160px;
  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */

  text-decoration: none;
  background: #C6D580;
}
ul.nav a:hover,
ul.nav a:active,
ul.nav a:focus {
  /* this changes the background and text color for both mouse and keyboard navigators */

  background: #ADB96E;
  color: #FFF;
}
/* ~~ The footer ~~ */
#tv-bar-decor {
  top: 0;
  background: url('/assets/images/traveloka_main-20027.png') 0px -1px repeat-x;
  width: 100%;
  height: 3px;
  font-size: 2px;
  /* IE issue */

  line-height: 2px;
  /* IE issue */

}
#footer,
.push {
  width: 100%;
  position: relative;
  clear: both;
  /* this clear property forces the .container to understand where the columns end and contain them */

  bottom: 0;
  height: 20px;
  /* Height of the footer .push must be the same height as #footer */

}
#footer {
  background-color: #FFFFFF;
  height: auto;
  overflow: hidden;
  padding-bottom: 40px;
  border-top: 3px solid #A1CCF6;
}
#footer .breadcrumb {
  font-size: 12px;
  margin: auto;
  width: 960px;
  display: table;
  padding-top: 15px;
}
#footer ul {
  display: block;
  float: left;
  width: 216px;
  height: auto;
  margin-left: 20px;
  text-align: left;
}
#footer ul li {
  text-align: left;
  display: block;
}
#footer ul li.head {
  color: #619FDB;
  padding: 5px 0;
  font-size: 1.2em;
}
#footer ul li.head a {
  color: #619FDB;
  text-decoration: none;
}
#footer ul li.head a:focus,
#footer ul li.head a:hover {
  color: #FF6900;
}
#copyright {
  padding-top: 5px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
  margin: 10px auto 0;
  font-size: 14px;
  display: table;
  border-top: 1px solid #DAE8F4;
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */

  float: right;
  margin-left: 8px;
}
.fltlft {
  /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */

  float: left;
  margin-right: 8px;
}
.clearfloat {
  /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */

  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}
.tv-hidden {
  visibility: hidden;
  display: none;
}
.priceBig {
  font-size: 1.1em;
}
.priceSmall {
  font-size: 0.9em;
  margin-left: -4px;
}
/* ~~ These are the jquery ~~ */
/*!
 * jQuery UI Autocomplete 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete {
  position: absolute;
  cursor: default;
  max-height: 210px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */

  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */

  padding-right: 20px;
}
/* workarounds */
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 210px;
  width: 1px;
  /* without this, the menu expands to 100% in IE6 */

}
/*
 * jQuery UI Menu 1.8.21
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}
/* ~~ jQuery THEMES ~~  */
.ui-autocomplete-category {
  font-weight: bold;
  padding-bottom: 3px;
  color: #A2A2A2;
  margin: 1px;
  line-height: 1.5;
}
.ui-combobox {
  position: relative;
  display: inline-block;
  *display: inline;
  /* HACK for IE7 ONLY */

  zoom: 1;
  /* HACK for IE7 ONLY */

}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */

  *height: 1.7em;
  *top: 0.1em;
}
/* Component containers
----------------------------------*/
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff 50% top repeat-x;
  color: #619FDB;
}
.ui-widget-content a {
  color: #619FDB;
}
.ui-widget-header {
  border: 1px solid #0080BA;
  background: #00608b 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}
.ui-widget-header a {
  color: #ffffff;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #FFFFFF;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #6CB5F9;
  background: #9ed2ef 50% 50% repeat-x;
  font-weight: bold;
  color: #006FA1;
}
.ui-state-hover a,
.ui-state-hover a:hover {
  color: #006FA1;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #6CB5F9;
  background: #ffffff 50% 50% repeat-x;
  font-weight: bold;
  color: #006FA1;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #006FA1;
  text-decoration: none;
}
.ui-widget :active {
  outline: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #61A6E4;
  background: #6fb9ff 50% top repeat-x;
  color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900  50% 50% repeat;
  color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}
/* select field highlight */
.ui-state-default-select {
  border: 1px solid #6CB5F9;
  background: #9ed2ef 50% 50% repeat-x;
  font-weight: bold;
  color: #006FA1;
}
.ui-menu-item a.ui-state-hover + .ui-state-default-select {
  border: none;
  background: none;
  font-weight: lighter;
}
/*!
 * jQuery UI CSS Framework 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  zoom: 1;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ~ airline icons sprites ~ */
/* -------------------------*/
.airlineIcon {
  height: 25px;
  margin-right: 8px;
  width: 25px;
  float: left;
}
.airlineIconGA {
  background: url("/assets/images/airlineIcons-20027.png") 0px 0px no-repeat scroll;
}
/* Garuda */
.airlineIconMZ {
  background: url("/assets/images/airlineIcons-20027.png") 0px -25px no-repeat scroll;
}
/* Merpati */
.airlineIconJT {
  background: url("/assets/images/airlineIcons-20027.png") 0px -50px no-repeat scroll;
}
/* Lion Air */
.airlineIconQG {
  background: url("/assets/images/airlineIcons-20027.png") 0px -75px no-repeat scroll;
}
/* Citilink */
.airlineIconRI {
  background: url("/assets/images/airlineIcons-20027.png") 0px -100px no-repeat scroll;
}
/* Mandala */
.airlineIconAirAsia {
  background: url("/assets/images/airlineIcons-20027.png") 0px -125px no-repeat scroll;
}
/* Air Asia */
.airlineIconY6 {
  background: url("/assets/images/airlineIcons-20027.png") 0px -150px no-repeat scroll;
}
/* Batavia */
/* .airlineIconAVIASTAR {background: url("/assets/images/airlineIcons-@{image-version}.png") 0px -175px no-repeat scroll;} /* AviaStar */
.airlineIconKD {
  background: url("/assets/images/airlineIcons-20027.png") 0px -200px no-repeat scroll;
}
/* KalStar */
/* .airlineIconTrigana {background: url("/assets/images/airlineIcons-@{image-version}.png") 0px -225px no-repeat scroll;} /* Trigana */
.airlineIconJQ {
  background: url("/assets/images/airlineIcons-20027.png") 0px -250px no-repeat scroll;
}
/* JetStar */
/* .airlineIconEXPRESSAIR {background: url("/assets/images/airlineIcons-@{image-version}.png") 0px -275px no-repeat scroll;} /* EXPRESSAIR */
/* .airlineIconPacificRoyale {background: url("/assets/images/airlineIcons-@{image-version}.png") 0px -300px no-repeat scroll;} /* PacificRoyale */
.airlineIconSY {
  background: url("/assets/images/airlineIcons-20027.png") 0px -325px no-repeat scroll;
}
/* Sky Aviation */
/* .airlineIconTransNusa {background: url("/assets/images/airlineIcons-@{image-version}.png") 0px -350px no-repeat scroll;} /* TransNusa */
/* .airlineIconWingsAir {background: url("/assets/images/airlineIcons-@{image-version}.png") 0px -375px no-repeat scroll;} /* Wings Air */
.airlineIconSI {
  background: url("/assets/images/airlineIcons-20027.png") 0px -400px no-repeat scroll;
}
/* Susi Air */
.airlineIconSJ {
  background: url("/assets/images/airlineIcons-20027.png") 0px -425px no-repeat scroll;
}
/* Sriwijaya */
.airlineIconTR {
  background: url("/assets/images/airlineIcons-20027.png") 0px -450px no-repeat scroll;
}
/* Tiger */
.airlineLabel {
  height: 30px;
  margin: 0 22px;
  width: 50px;
}
.airline .airlineLabel {
  margin: 0px 5px;
}
.airlineLabelGA {
  background: url("/assets/images/airlineLabels-20027.png") 0px 0px no-repeat scroll;
}
/* Garuda */
.airlineLabelMZ {
  background: url("/assets/images/airlineLabels-20027.png") 0px -30px no-repeat scroll;
}
/* Merpati */
.airlineLabelJT {
  background: url("/assets/images/airlineLabels-20027.png") 0px -60px no-repeat scroll;
}
/* Lion Air */
.airlineLabelQG {
  background: url("/assets/images/airlineLabels-20027.png") 0px -90px no-repeat scroll;
}
/* Citilink */
.airlineLabelRI {
  background: url("/assets/images/airlineLabels-20027.png") 0px -120px no-repeat scroll;
}
/* Mandala */
.airlineLabelAirAsia {
  background: url("/assets/images/airlineLabels-20027.png") 0px -150px no-repeat scroll;
}
/* Air Asia */
.airlineLabelY6 {
  background: url("/assets/images/airlineLabels-20027.png") 0px -180px no-repeat scroll;
}
/* Batavia */
/* .airlineLabelAVIASTAR {background: url("/assets/images/airlineLabels-@{image-version}.png") 0px -210px no-repeat scroll;} /* AviaStar */
.airlineLabelKD {
  background: url("/assets/images/airlineLabels-20027.png") 0px -240px no-repeat scroll;
}
/* KalStar */
/* .airlineLabelTrigana {background: url("/assets/images/airlineLabels-@{image-version}.png") 0px -270px no-repeat scroll;} /* Trigana */
.airlineLabelJQ {
  background: url("/assets/images/airlineLabels-20027.png") 0px -300px no-repeat scroll;
}
/* JetStar */
/* .airlineLabelEXPRESSAIR {background: url("/assets/images/airlineLabels-@{image-version}.png") 0px -330px no-repeat scroll;} /* EXPRESSAIR */
/* .airlineLabelPacificRoyale {background: url("/assets/images/airlineLabels-@{image-version}.png") 0px -360px no-repeat scroll;} /* PacificRoyale */
.airlineLabelSY {
  background: url("/assets/images/airlineLabels-20027.png") 0px -390px no-repeat scroll;
}
/* Sky Aviation */
/* .airlineLabelTransNusa {background: url("/assets/images/airlineLabels-@{image-version}.png") 0px -420px no-repeat scroll;} /* TransNusa */
/* .airlineLabelWingsAir {background: url("/assets/images/airlineLabels-@{image-version}.png") 0px -450px no-repeat scroll;} /* Wings Air */
.airlineLabelSI {
  background: url("/assets/images/airlineLabels-20027.png") 0px -480px no-repeat scroll;
}
/* Susi Air */
.airlineLabelSJ {
  background: url("/assets/images/airlineLabels-20027.png") 0px -510px no-repeat scroll;
}
/* Sriwijaya */
.airlineLabelTR {
  background: url("/assets/images/airlineLabels-20027.png") 0px -540px no-repeat scroll;
}
/* Tiger */
.airlineLabelMulti {
  background: url("/assets/images/airlineLabels-20027.png") 0px -570px no-repeat scroll;
}
.airlineLabelWGA {
  background: url("/assets/images/airlineLabels-20027.png") -50px 0px no-repeat scroll;
}
/* Garuda */
.airlineLabelWMZ {
  background: url("/assets/images/airlineLabels-20027.png") -50px -30px no-repeat scroll;
}
/* Merpati */
.airlineLabelWJT {
  background: url("/assets/images/airlineLabels-20027.png") -50px -60px no-repeat scroll;
}
/* Lion Air */
.airlineLabelWQG {
  background: url("/assets/images/airlineLabels-20027.png") -50px -90px no-repeat scroll;
}
/* Citilink */
.airlineLabelWRI {
  background: url("/assets/images/airlineLabels-20027.png") -50px -120px no-repeat scroll;
}
/* Mandala */
.airlineLabelWAirAsia {
  background: url("/assets/images/airlineLabels-20027.png") -50px -150px no-repeat scroll;
}
/* Air Asia */
.airlineLabelWY6 {
  background: url("/assets/images/airlineLabels-20027.png") -50px -180px no-repeat scroll;
}
/* Batavia */
/* .airlineLabelWAVIASTAR {background: url("/assets/images/airlineLabels-@{image-version}.png") -50px -210px no-repeat scroll;} /* AviaStar */
.airlineLabelWKD {
  background: url("/assets/images/airlineLabels-20027.png") -50px -240px no-repeat scroll;
}
/* KalStar */
/* .airlineLabelWTrigana {background: url("/assets/images/airlineLabels-@{image-version}.png") -50px -270px no-repeat scroll;} /* Trigana */
.airlineLabelWJQ {
  background: url("/assets/images/airlineLabels-20027.png") -50px -300px no-repeat scroll;
}
/* JetStar */
/* .airlineLabelWEXPRESSAIR {background: url("/assets/images/airlineLabels-@{image-version}.png") -50px -330px no-repeat scroll;} /* EXPRESSAIR */
/* .airlineLabelWPacificRoyale {background: url("/assets/images/airlineLabels-@{image-version}.png") -50px -360px no-repeat scroll;} /* PacificRoyale */
.airlineLabelWSY {
  background: url("/assets/images/airlineLabels-20027.png") -50px -390px no-repeat scroll;
}
/* Sky Aviation */
/* .airlineLabelWTransNusa {background: url("/assets/images/airlineLabels-@{image-version}.png") -50px -420px no-repeat scroll;} /* TransNusa */
/* .airlineLabelWWingsAir {background: url("/assets/images/airlineLabels-@{image-version}.png") -50px -450px no-repeat scroll;} /* Wings Air */
.airlineLabelWSI {
  background: url("/assets/images/airlineLabels-20027.png") -50px -480px no-repeat scroll;
}
/* Susi Air */
.airlineLabelWSJ {
  background: url("/assets/images/airlineLabels-20027.png") -50px -510px no-repeat scroll;
}
/* Sriwijaya */
.airlineLabelWTR {
  background: url("/assets/images/airlineLabels-20027.png") -50px -540px no-repeat scroll;
}
/* Tiger */
.airlineLabelWMulti {
  background: url("/assets/images/airlineLabels-20027.png") -50px -570px no-repeat scroll;
}
.airlineLabelGGA {
  background: url("/assets/images/airlineLabels-20027.png") -100px 0px no-repeat scroll;
}
/* Garuda */
.airlineLabelGMZ {
  background: url("/assets/images/airlineLabels-20027.png") -100px -30px no-repeat scroll;
}
/* Merpati */
.airlineLabelGJT {
  background: url("/assets/images/airlineLabels-20027.png") -100px -60px no-repeat scroll;
}
/* Lion Air */
.airlineLabelGQG {
  background: url("/assets/images/airlineLabels-20027.png") -100px -90px no-repeat scroll;
}
/* Citilink */
.airlineLabelGRI {
  background: url("/assets/images/airlineLabels-20027.png") -100px -120px no-repeat scroll;
}
/* Mandala */
.airlineLabelGAirAsia {
  background: url("/assets/images/airlineLabels-20027.png") -100px -150px no-repeat scroll;
}
/* Air Asia */
.airlineLabelGY6 {
  background: url("/assets/images/airlineLabels-20027.png") -100px -180px no-repeat scroll;
}
/* Batavia */
/* .airlineLabelGAVIASTAR {background: url("/assets/images/airlineLabels-@{image-version}.png") -100px -210px no-repeat scroll;} /* AviaStar */
.airlineLabelGKD {
  background: url("/assets/images/airlineLabels-20027.png") -100px -240px no-repeat scroll;
}
/* KalStar */
/* .airlineLabelGTrigana {background: url("/assets/images/airlineLabels-@{image-version}.png") -100px -270px no-repeat scroll;} /* Trigana */
.airlineLabelGJQ {
  background: url("/assets/images/airlineLabels-20027.png") -100px -300px no-repeat scroll;
}
/* JetStar */
/* .airlineLabelGEXPRESSAIR {background: url("/assets/images/airlineLabels-@{image-version}.png") -100px -330px no-repeat scroll;} /* EXPRESSAIR */
/* .airlineLabelGPacificRoyale {background: url("/assets/images/airlineLabels-@{image-version}.png") -100px -360px no-repeat scroll;} /* PacificRoyale */
.airlineLabelGSY {
  background: url("/assets/images/airlineLabels-20027.png") -100px -390px no-repeat scroll;
}
/* Sky Aviation */
/* .airlineLabelGTransNusa {background: url("/assets/images/airlineLabels-@{image-version}.png") -100px -420px no-repeat scroll;} /* TransNusa */
/* .airlineLabelGWingsAir {background: url("/assets/images/airlineLabels-@{image-version}.png") -100px -450px no-repeat scroll;} /* Wings Air */
.airlineLabelGSI {
  background: url("/assets/images/airlineLabels-20027.png") -100px -480px no-repeat scroll;
}
/* Susi Air */
.airlineLabelGSJ {
  background: url("/assets/images/airlineLabels-20027.png") -100px -510px no-repeat scroll;
}
/* Sriwijaya */
.airlineLabelGTR {
  background: url("/assets/images/airlineLabels-20027.png") -100px -540px no-repeat scroll;
}
/* Tiger */
.airlineLabelGMulti {
  background: url("/assets/images/airlineLabels-20027.png") -100px -570px no-repeat scroll;
}
.airlineLogo {
  width: 125px;
  height: 25px;
}
.airlineLogoGA {
  background: url("/assets/images/airlineLogo/airlineLogoGA-20027.png") no-repeat scroll;
}
.airlineLogoSJ {
  background: url("/assets/images/airlineLogo/airlineLogoSJ-20027.png") no-repeat scroll;
}
.airlineLogoJT {
  background: url("/assets/images/airlineLogo/airlineLogoJT-20027.png") no-repeat scroll;
}
.airlineLogoY6 {
  background: url("/assets/images/airlineLogo/airlineLogoY6-20027.png") no-repeat scroll;
}
.airlineLogoAirAsia {
  background: url("/assets/images/airlineLogo/airlineLogoAirAsia-20027.png") no-repeat scroll;
}
.airlineLogoSY {
  background: url("/assets/images/airlineLogo/airlineLogoSY-20027.png") no-repeat scroll;
}
.airlineLogoQG {
  background: url("/assets/images/airlineLogo/airlineLogoQG-20027.png") no-repeat scroll;
}
.airlineLogoRI {
  background: url("/assets/images/airlineLogo/airlineLogoRI-20027.png") no-repeat scroll;
}
.airlineLogoTR {
  background: url("/assets/images/airlineLogo/airlineLogoTR-20027.png") no-repeat scroll;
}
.airlineLogoMZ {
  background: url("/assets/images/airlineLogo/airlineLogoMZ-20027.png") no-repeat scroll;
}
/* .airlineLogoPacificRoyale {background:  url("/assets/images/airlineLogo/airlineLogoPacificRoyale-@{image-version}.png") no-repeat scroll;} PACIFIC ROYALE NOT AVAILABLE */
.airlineLogoKD {
  background: url("/assets/images/airlineLogo/airlineLogoKD-20027.png") no-repeat scroll;
}
/* .airlineLogoTrigana {background:  url("/assets/images/airlineLogo/airlineLogoTrigana-@{image-version}.png") no-repeat scroll;} TRIGANA N/A */
.airlineLogoJQ {
  background: url("/assets/images/airlineLogo/airlineLogoJQ-20027.png") no-repeat scroll;
}
/* .airlineLogoTransNusa {background:  url("/assets/images/airlineLogo/airlineLogoTransNusa-@{image-version}.png") no-repeat scroll;} */
/* .airlineLogoAVIASTAR {background:  url("/assets/images/airlineLogo/airlineLogoAVIASTAR-@{image-version}.png") no-repeat scroll;}  */
/* .airlineLogoEXPRESSAIR {background:  url("/assets/images/airlineLogo/airlineLogoEXPRESSAIR-@{image-version}.png") no-repeat scroll;}  */
.airlineLogoSI {
  background: url("/assets/images/airlineLogo/airlineLogoSI-20027.png") no-repeat scroll;
}
.vendorLogo {
  width: 160px;
  height: 30px;
}
.vendorLogoexpediacom {
  background: url("/assets/images/vendorLogo/vendorLogoSprite-20027.png") 0px 0px no-repeat scroll;
}
.vendorLogotiketcom {
  background: url("/assets/images/vendorLogo/vendorLogoSprite-20027.png") 0px -30px no-repeat scroll;
}
.vendorLogotiket2com {
  background: url("/assets/images/vendorLogo/vendorLogoSprite-20027.png") 0px -60px no-repeat scroll;
}


