.notifikasi{
    background: none repeat scroll 0 0 #e43c03;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 1px 0 0px;
    padding: 1px;
    position: absolute;
    text-align: center;
    width: 14px;
    z-index: 1;
}
