iframe {
	border:0;
}

body {
  font-family: Segoe UI, Helvetica, Arial, Sans-Serif;
  font-weight: lighter;
  /* letter-spacing: 1.2px; */
  margin: 0;
  padding: 0;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  cursor: default;
}
li {
  list-style: none;
  zoom: 1;
  *display: inline;
}

ol li {
	list-style: decimal;
}
/* ~~ Element/tag selectors ~~ */
ul,
ol,
dl {
  /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */

  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */

  padding-right: 15px;
  padding-left: 15px;
  /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */

  color: #777777;
  margin-bottom: 0;
}
p {
  margin-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */

  color: #777777;
}
a img {
  /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */

  border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
  color: #999999;
  text-decoration: underline;
  /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */

}
a:visited {
  color: #6E6C64;
  text-decoration: underline;
}
a:hover,
a:focus {
  /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */

  color: #FF6900;
  text-decoration: none;
}
a:active {
  color: #FFB37F;
  text-decoration: none;
}
table th {
  /* font-size: 1.2em; */
  font-weight: normal;
}

input.textbox{
	width: 201px;
	height: 24px;
	color: #333;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #00adeb;
	padding: 5px 6px 5px 9px;
	vertical-align: middle;
}

input.textbox:focus{
	border: 1px solid white;
}

input,
textarea {
  /* prevents safari mobile from showing rounded corner */

  -webkit-border-radius: 0;
}
input[type='checkbox'] {
  background-color: #FFFFFF;
  opacity: 0;
  /*   use opacity so that on IE8, 7 it will fall back to checkbox */

  position: absolute;
  padding: 4px;
  /* match the size of checkbox with the Image to cover it in IE8,7 */

  margin: 4px 0 0 4px;
}
input[type=checkbox] + label {
  background: url("/assets/images/traveloka_main-20027.png") -313px -170px no-repeat;
  height: 25px;
  line-height: 25px;
  width: auto;
  margin: 0 0 0 5px;
  clear: none;
  padding-left: 24px;
  cursor: pointer;
  font-size: 18px;
  font-weight: lighter;
  color: #666666;
  display: block;
}
input[type=checkbox]:checked + label {
  background: url("/assets/images/traveloka_main-20027.png") -313px -145px no-repeat;
}
input[type=checkbox] + label:hover {
  background: url("/assets/images/traveloka_main-20027.png") -313px -220px no-repeat;
  color: #000000;
}
input[type=checkbox]:checked + label:hover {
  background: url("/assets/images/traveloka_main-20027.png") -313px -195px no-repeat;
  color: #000000;
}
input[type=checkbox][disabled] + label {
  background: url("/assets/images/traveloka_main-20027.png") -313px -245px no-repeat;
  color: #999999;
}
span.italic {
  font-style: italic;
  font-size: 1em;
}
span.tvBold {
  font-weight: 700;
  font-size: 1em;
}
/* ~~these are the fields and forms~~ */
.tv-btn {
  cursor: pointer;
  display: block;
  outline: 0 none;
  text-decoration: none;
}
.tv-btn:hover {
  -moz-box-shadow: 1px 1px 3px 0 #000000;
  -webkit-box-shadow: 1px 1px 3px 0 #000000;
  box-shadow: 1px 1px 3px 0 #000000;
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.shadow(Strength=4, Direction=135, Color=#000000);
}
.tv-btn:active {
  -moz-box-shadow: 0px 0px 1px 1px #666666;
  -webkit-box-shadow: 0px 0px 1px 1px #666666;
  box-shadow: 0px 0px 1px 1px #666666;
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.shadow(Strength=4, Direction=135, Color=#000000);
}
.tvCheckBox label {
  cursor: pointer;
}
.tvCheckBox label:hover {
  font-weight: 550;
}
/* ~~this contains elements that displays global error message ~~ */
#generalError {
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  /* make sure that its always on top */

  display: none;
  background-color: #F8E500;
  /* default is yellow */

  -moz-box-shadow: 0 0 5px 0px #a1ccf6;
  -webkit-box-shadow: 0 0 5px 0px #a1ccf6;
  box-shadow: 0 0 5px 0px #a1ccf6;
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.shadow(Strength=4, Direction=135, Color=#000000);
}
#generalErrorCntr {
  width: 960px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
#generalErrorFrame {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: table;
}
#generalErrorIcon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 15px;
}
#generalError.float {
  position: fixed;
}
#generalError #generalErrorIcon {
  /* default icon is the warning sign */

  background: url("/assets/images/common-20027.png") 0px 0px no-repeat;
}
#generalError.tvInfo {
  background-color: #B0E3F4;
}
#generalError.tvSuccess {
  background-color: #42E552;
}
#generalError.tvWarning {
  background-color: #F8E500;
}
#generalError.tvWarning #generalErrorIcon {
  background: url("/assets/images/common-20027.png") 0px 0px no-repeat;
}
#generalError.tvError {
  background-color: #F91616;
}
#generalErrorMsg {
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
  *display: inline;
  /* HACK for IE7 ONLY */

  zoom: 1;
  /* HACK for IE7 ONLY */

}
/* ~~this contains elements that will hold the main bg image ~~ */
#tv-bg-frame {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: -10;
}
#tv-bg {
  width: 1440px;
  height: 376px;
  margin: 0 auto;
  /* the auto value on the sides, coupled with the width, centers the layout.  */

  background: url('/assets/images/traveloka_main_bg-20027.png') 0px -8px no-repeat;
}
/* ~~this fixed width container surrounds the other divs~~ */
#container {
  min-height: 388px;
  height: auto;
  /*width: 985px; */
  width: 80%; 
  margin: 0 auto;
  /* the auto value on the sides, coupled with the width, centers the layout.  */
  
  height: auto !important;
  background: #ffffff;
  /* Fall-back for browsers that don't support rgba */

  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
  /* background-color: #FFFFFF; */
	
  float: left;
  padding-left: 20px;
  /*background-color: red;*/
  padding-right: 20px;
  
  border-left: 1px solid #A8CFE6;
  /*margin-left: 200px;*/
}

#containerCetak {
  min-height: 388px;
  height: auto;
  width: 940px;
  margin: 0px auto;
  /* the auto value on the sides, coupled with the width, centers the layout.  */
  
  height: auto !important;
  background: #ffffff;
  /* Fall-back for browsers that don't support rgba */

  background: rgba(255, 255, 255, 0.7);
  /* background-color: #FFFFFF; */
	
}
/* ~~this is the topbar~~ */
#tv-topbar {
  left: 0;
  top: 0;
  width: 100%;
  color: #555555;
  height: 70px;
  line-height: 65px;
  background-color: #FFFFFF;
  border-bottom: 3px solid #A8CFE6;
}
#tv-topbar-decor {
  bottom: 0;
  width: 100%;
  height: 3px;
  font-size: 2px;
  /* IE issue */

  line-height: 2px;
  /* IE issue */

}
.tv-topbar-container {
  font-size: 12px;
  line-height: 20px;
  /*margin: auto;*/
  position: relative;
  width: 960px;
  height: 70px;
  /* .tv-background-rgba(255, 255, 255, .9); */

}
#tv-top-logo {
  margin-top: 5px;
  float: left;
  height: 63px;
  width: 286px;
  background: url('../images/LogoDPA.png') 0px 8px no-repeat scroll transparent;
  
}
#tv-top-logo:after{
	content: "Dana Pensiun Astra";
	font-size:20px;
	position:absolute;
	top: 25px;
	left: 110px;
}


#tv-slim-logo {
  background-color: #FFFFFF;
  background: url('../images/LogoDPA.png') 0px -7px no-repeat scroll transparent;
  height: 63px;
  margin: 10px auto;
  /* margin-left: 314px; */

  width: 286px;
  position: relative;
}
#tv-userInfo-content {
  display: block;
  right: 0;
  position: absolute;
  padding-top: 6px;
  z-index: 1000;
}
ul#tv-userInfo-links {
  display: block;
  float: right;
  width: auto;
  font-size: 1.1em;
  text-decoration: none;
}
ul#tv-userInfo-links li {
  display: block;
  float: right;
  margin: 0 4px 0 0;
}
ul#tv-userInfo-links li a {
  border: 1px solid #FFFFFF;
  color: #006FA1;
  cursor: pointer;
  float: left;
  padding: 5px 6px;
  text-decoration: none;
}
/*
ul#tv-userInfo-links li a:hover{
  color: #006FA1;
  border: 1px solid #006FA1;
}
*/
ul#tv-userInfo-links li span {
  float: left;
  font-size: 16px;
}
#tv-topbar-content {
  bottom: -3px;
  display: block;
  padding: 0;
  position: absolute;
  right: 0;
  width: 620px;
}
ul#tv-topbar-links {
  display: block;
  float: left;
  width: auto;
  font-size: 20px;
  text-decoration: none;
  line-height: 40px;
  overflow: hidden;
}
ul#tv-topbar-links li {
  display: block;
  float: left;
  margin: 0;
  height: 100%;
  padding-bottom: 3px;
}
ul#tv-topbar-links li:hover,
ul#tv-topbar-links li.active {
  border-bottom: 3px solid #FF6900;
  padding-bottom: 0;
}
ul#tv-topbar-links li a {
  padding: 16px 18px;
  color: #619FDB;
  cursor: pointer;
  text-decoration: none;
  font-weight: 100;
}
ul#tv-topbar-links li a:hover,
ul#tv-topbar-links li a.active {
  color: #FF6900;
}
ul#tv-topbar-links li.topbar-vbar {
  border-left: 1px solid #619FDB;
  height: 22px;
  margin-top: 20px;
  font-size: 2px;
  /* IE issue */

  line-height: 2px;
  /* IE issue */

  padding: 0;
}
ul#tv-topbar-links li.topbar-vbar:hover {
  border-bottom: none;
  /* padding-bottom: 3px; */

}
#UserAction {
  display: none;
}
#UserActionIcon {
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 3px;
}
#UserActionIcon {
  background: url("/assets/images/common-20027.png") -118px 0px no-repeat scroll transparent;
}
#UserActionIcon[stat="down"] {
  background: url("/assets/images/common-20027.png") -138px 0px no-repeat scroll transparent;
}
#userOptions li {
  width: 70px;
  height: 21px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: right;
  padding: 5px;
  list-style: none;
  border: 1px solid #006FA1;
}
#userOptions li a:link,
#userOptions li a:visited {
  width: 70px;
  height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
#userOptions li:hover,
#userOptions li:active,
#userOptions li:focus,
#userOptions li:hover a,
#userOptions li:active a,
#userOptions li:focus a {
  background-color: #FFFFFF;
  color: #006FA1;
}
#userOptions li:hover,
#userOptions li:active,
#userOptions li:focus {
  border: 1px solid #006FA1;
}
/* ~~ These are the columns for the layout. NOT IN USE CURRENTLY! ~~ */
.tv-sidebar-container {
  float: right;
  width: 210px;
  background: #EADCAE;
  margin-bottom: 10px;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.tv-flight-content ul,
.tv-flight-content ol {
  padding: 0 15px 15px 40px;
  /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */

}
/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
  list-style: none;
  /* this removes the list marker */

  border-top: 1px solid #666;
  /* this creates the top border for the links - all others are placed using a bottom border on the LI */

  margin-bottom: 15px;
  /* this creates the space between the navigation on the content below */

}
ul.nav li {
  border-bottom: 1px solid #666;
}
ul.nav a,
ul.nav a:visited {
  /* grouping these selectors makes sure that your links retain their button look even after being visited */

  padding: 5px 5px 5px 15px;
  display: block;
  /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */

  width: 160px;
  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */

  text-decoration: none;
  background: #C6D580;
}
ul.nav a:hover,
ul.nav a:active,
ul.nav a:focus {
  /* this changes the background and text color for both mouse and keyboard navigators */

  background: #ADB96E;
  color: #FFF;
}
/* ~~ The footer ~~ */
#tv-bar-decor {
  top: 0;
  background: url('/assets/images/.png') 0px -1px repeat-x;
  width: 100%;
  height: 3px;
  clear:both;
  font-size: 2px;
  /* IE issue */

  line-height: 2px;
  /* IE issue */

}
#footer,
.push {
  width: 100%;
  position: relative;
  clear: both;
  /* this clear property forces the .container to understand where the columns end and contain them */

  bottom: 0;
  height: 20px;
  /* Height of the footer .push must be the same height as #footer */

}
#footer {
  background-color: #FFFFFF;
  height: auto;
  overflow: hidden;
  padding-bottom: 40px;
  border-top: 3px solid #A1CCF6;
}
#footer .breadcrumb {
  font-size: 12px;
  margin: auto;
  width: 960px;
  display: table;
  padding-top: 15px;
}
#footer ul {
  display: block;
  float: left;
  width: 216px;
  height: auto;
  margin-left: 20px;
  text-align: left;
}
#footer ul li {
  text-align: left;
  display: block;
}
#footer ul li.head {
  color: #619FDB;
  padding: 5px 0;
  font-size: 1.2em;
}
#footer ul li.head a {
  color: #619FDB;
  text-decoration: none;
}
#footer ul li.head a:focus,
#footer ul li.head a:hover {
  color: #FF6900;
}
#copyright {
  padding-top: 5px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
  margin: 10px auto 0;
  font-size: 14px;
  display: table;
  border-top: 1px solid #DAE8F4;
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */

  float: right;
  margin-left: 8px;
}
.fltlft {
  /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */

  float: left;
  margin-right: 8px;
}
.clearfloat {
  /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */

  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}
.tv-hidden {
  visibility: hidden;
  display: none;
}
.priceBig {
  font-size: 1.1em;
}
.priceSmall {
  font-size: 0.9em;
  margin-left: -4px;
}
/* ~~ These are the jquery ~~ */
/*!
 * jQuery UI Autocomplete 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete {
  position: absolute;
  cursor: default;
  max-height: 210px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */

  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */

  padding-right: 20px;
}
/* workarounds */
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 210px;
  width: 1px;
  /* without this, the menu expands to 100% in IE6 */

}
/*
 * jQuery UI Menu 1.8.21
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}
/* ~~ jQuery THEMES ~~  */
.ui-autocomplete-category {
  font-weight: bold;
  padding-bottom: 3px;
  color: #A2A2A2;
  margin: 1px;
  line-height: 1.5;
}
.ui-combobox {
  position: relative;
  display: inline-block;
  *display: inline;
  /* HACK for IE7 ONLY */

  zoom: 1;
  /* HACK for IE7 ONLY */

}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */

  *height: 1.7em;
  *top: 0.1em;
}
/* Component containers
----------------------------------*/
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff 50% top repeat-x;
  color: #619FDB;
}
.ui-widget-content a {
  color: #619FDB;
}
.ui-widget-header {
  border: 1px solid #0080BA;
  background: #00608b 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}
.ui-widget-header a {
  color: #ffffff;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #FFFFFF;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #6CB5F9;
  background: #9ed2ef 50% 50% repeat-x;
  font-weight: bold;
  color: #006FA1;
}
.ui-state-hover a,
.ui-state-hover a:hover {
  color: #006FA1;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #6CB5F9;
  background: #ffffff 50% 50% repeat-x;
  font-weight: bold;
  color: #006FA1;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #006FA1;
  text-decoration: none;
}
.ui-widget :active {
  outline: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #61A6E4;
  background: #6fb9ff 50% top repeat-x;
  color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900  50% 50% repeat;
  color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}
/* select field highlight */
.ui-state-default-select {
  border: 1px solid #6CB5F9;
  background: #9ed2ef 50% 50% repeat-x;
  font-weight: bold;
  color: #006FA1;
}
.ui-menu-item a.ui-state-hover + .ui-state-default-select {
  border: none;
  background: none;
  font-weight: lighter;
}
/*!
 * jQuery UI CSS Framework 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  zoom: 1;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*added by william*/
.buttonSubmit {
	height: 30px;
	width: 80px;
	border: 1px solid white;
	font-size: 20px;
	color: white;
	background-color: #00adeb;
	float: right;
	/*margin: 25px 10px 0;*/
	display: table;
	cursor: pointer;
	padding: 0;
}

.buttonSubmit:hover{
	font-size: 20px;
	color: #00adeb;
	background-color: white;
	border: 1px solid #00adeb;
}

.buttonSubmit:disabled {
	background-color:grey;
	color:#D8D8D8;
	border: 1px solid white;
	cursor: default;
}

.buttonSubmit:active {
	background-color:rgb(31, 108, 255);
	color:white;
	border: 1px solid white;
	cursor: default;
}
.buttonSubmitBebas {
	height: 30px;
	width: 80px;
	border: 1px solid white;
	font-size: 20px;
	color: white;
	background-color: #00adeb;
	/*margin: 25px 10px 0;*/
	/*display: table;*/
	cursor: pointer;
	padding: 0;
}

.buttonSubmitBebas:hover{
	font-size: 20px;
	color: #00adeb;
	background-color: white;
	border: 1px solid #00adeb;
}

.buttonSubmitBebas:disabled {
	background-color:grey;
	color:#D8D8D8;
	border: 1px solid white;
	cursor: default;
}

.buttonSubmitBebas:active {
	background-color:rgb(31, 108, 255);
	color:white;
	border: 1px solid white;
	cursor: default;
}

#leftcontent {
  position : absolute;
  top: 100px;
  left : 20%;
  width : 25%;
  height: 350px;
  color : #000000;
  padding : 3px;
  /* background-color: #00adeb; */
}

#rightcontent {
  position : absolute;
  left : 50%;
  top : 100px;
  width : 50%;
  padding-left : 10px;
  z-index : 3;
  color : #000000;
  padding : 3px;
}

#rightcontentresetpwd {
  position : absolute;
  left : 50%;
  top : 100px; 
  padding-left : 10px;
  z-index : 3;
  color : #000000;
  padding : 3px;
}

#tblLogin {
  padding-top:10px;
  padding-bottom:10px;
}


/* ~~ jQuery THEMES ~~  */
.ui-autocomplete-category {
  font-weight: bold;
  padding-bottom: 3px;
  color: #A2A2A2;
  margin: 1px;
  line-height: 1.5;
}
.ui-combobox {
  position: relative;
  display: inline-block;
  *display: inline;
  /* HACK for IE7 ONLY */

  zoom: 1;
  /* HACK for IE7 ONLY */

}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */

  *height: 1.7em;
  *top: 0.1em;
}

#tblNoBorder {
	margin: auto;
	width:400px;
}

#tblNoBorder tr td {
	border: none;
}

.tblPureNoBorder tr td {
	border: none;
}

#divError {
	color: red;
	text-align: center;
}



div#navigation
{
	position:absolute;
	font-size: 80%;
	/*height:100%;*/
    float:left;
    width:200px;
    margin:0;

	border-size: 1px;
	border-width: 1px;
	/*
left: 0;
top: 0;
bottom: 0;
margin: 0;
z-index: 3;
   */
	
}

div#navigation li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	/*border: 1px solid;
	border-color: #A8CFE6;*/
	}	

div#navigation li a:link, div#navigation li a:visited {
	color: #0F3E98;
	display: block;
	padding: 10px 0 0 20px;
	}
div#navigation li a:hover {
	color: #1499CC;
	background-color: #A8CFE6;
	}
	
div#navigation li a:active {
	color: white;
	background-color: rgb(31, 108, 255);
	}

div#navigation ul ul{
    display:none;
	background-color: rgb(31, 108, 255);
}
div#navigation ul:hover ul{
    display:block;
}
	
div#welcome {
position: absolute;
right: 30px;
top: 23px;
}

/*-----------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
  animation: mymove 0.2s;
  animation-timing-function: ease;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  
  
  /*width: 200px; */
  width: 15%;
  float: left;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-left: 3px solid #d7d8da;
  border-right: 1px solid #a8cfe6;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #0f3f98;
}
#cssmenu ul li:hover > a {
  color: #0f3f98;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  /*width: 180px;*/
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #E1EFFA;/*fff;*/
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #E1EFFA;/*#fff;*/
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

@keyframes mymove {
    from {left: 188px;opacity:0.2;}
}

/* MAD-RIPPLE EFFECT */
.ripple{
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  overflow: hidden;
  -webkit-transform: translateZ(0); /* to contain zoomed ripple */
  transform: translateZ(0);
  border-radius: inherit; /* inherit from parent (rounded buttons etc) */
  pointer-events: none; /* allow user interaction */
          animation: ripple-shadow 0.4s forwards;
  -webkit-animation: ripple-shadow 0.4s forwards;
}
.rippleWave{
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7); -webkit-transform: scale(0.7);
  background: rgba(168, 207, 230, 1);
  opacity: 0.45;
          animation: ripple 1s forwards;
  -webkit-animation: ripple 1s forwards;
}
@keyframes ripple-shadow {
  0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
  20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
  100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}
@-webkit-keyframes ripple-shadow {
  0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
  20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
  100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}
@keyframes ripple {
  to {transform: scale(24); opacity:0;}
}
@-webkit-keyframes ripple {
  to {-webkit-transform: scale(24); opacity:0;}
}

/* MAD-BUTTONS (demo) */
[class*=mad-button-]{
  display:inline-block;
  text-align:center;
  position: relative;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 0; outline: 0;
  background: none;
  transition: 0.3s;
  cursor: pointer;
  color: rgba(0,0,0, 0.82);
}
[class*=mad-button-] i.material-icons{
  vertical-align:middle;
  padding:0;
}
.mad-button-raised{
  height: 36px;
  padding: 0px 16px;
  line-height: 36px;
  border-radius: 2px;
  box-shadow: /*amb*/ 0 0   2px rgba(0,0,0,0.15),
              /*key*/ 0 1px 3px rgba(0,0,0,0.25);
}.mad-button-raised:hover{
  box-shadow: /*amb*/ 0 0   2px rgba(0,0,0,0.13),
              /*key*/ 0 2px 4px rgba(0,0,0,0.2);
}
.mad-button-action{
  width: 56px; height:56px;
  padding: 16px 0;
  border-radius: 32px;
  box-shadow: /*amb*/ 0 0   2px rgba(0,0,0,0.13),
              /*key*/ 0 5px 7px rgba(0,0,0,0.2);
}.mad-button-action:hover{
  box-shadow: /*amb*/ 0 0   2px rgba(0,0,0,0.11),
              /*key*/ 0 6px 9px rgba(0,0,0,0.18);
}
[class*=mad-button-].mad-ico-left  i.material-icons{ margin: 0 8px 0 -4px; }
[class*=mad-button-].mad-ico-right i.material-icons{ margin: 0 -4px 0 8px; }

/* MAD-COLORS */
.bg-primary-darker{background:#1976D2; color:#fff;}
.bg-primary{ background:#2196F3; color:#fff; }
.bg-primary:disabled{ background:#666; color:#fff }
.bg-primary.lighter{ background: #BBDEFB; color: rgba(0,0,0,0.82);}
.bg-accented{ background:#FF4081; color:#fff; }

/* MAD-CELL */
.cell{padding: 8px 16px; overflow:auto;}
/*-----------------------------*/